@model LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="flex-1 h-full w-full max-h-full max-w-full text-xs md:text-sm relative mt-auto">
    <div class="h-full flex-1 flex-wrap w-full max-h-full max-w-full items-center flex-no-wrap">
        <div class="flex p-3 md:p-5 overflow-hidden h-full">
             <div class="flex flex-col space-y-5 justify-center items-center w-full max-w-screen-lg mx-auto my-auto">
                <h1>
                    <small class="flex text-2xl md:text-3xl font-semibold text-gray-700">You are now logged out</small>
                </h1>

                @if (Model.PostLogoutRedirectUri != null)
                {
                    <div class="text-base text-gray-600">
                        Click <a class="cursor-pointer font-semibold text-blue-500" href="@Model.PostLogoutRedirectUri">here</a> to return to the
                        <span>@Model.ClientName</span> application.
                    </div>
                }

                @if (Model.SignOutIframeUrl != null)
                {
                    <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
